<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>17.组件案例-评论列表</title>
    <script src="vue.js"></script>
    <link rel="stylesheet" href="bootstrap-3.3.7.css">
</head>

<body>
    <div id="app">
        <!-- 通过@ 实现子组件调用父组件方法 -->
        <cmt-box @ybzybzybz="loadComments"></cmt-box>


        <ul class="list-group">
            <li class="list-group-item" v-for="item in list" :key="item.id">
                <span class="badge">评论人： {{ item.user }}</span> {{ item.content }}
            </li>
        </ul>
    </div>


    <!-- 评论盒子组件的内容 -->
    <template id="tmpl">
    <div>

      <div class="form-group">
        <label>评论人：</label>
        <input type="text" class="form-control" v-model="user">
      </div>

      <div class="form-group">
        <label>评论内容：</label>
        <textarea class="form-control" v-model="content"></textarea>
      </div>

      <div class="form-group">
        <input type="button" value="发表评论" class="btn btn-primary" @click="postComment">
      </div>

    </div>
  </template>

    <script>
        //定义评论盒子组件 用字面量定义
        var commentBox = {
            data() {
                return {
                    user: '',
                    content: ''
                }
            },
            template: '#tmpl',
            methods: {
                // 发表评论的方法
                postComment() {
                    // 分析：发表评论的业务逻辑
                    // 1. 评论数据存到哪里去？？？   存放到了 localStorage 中  localStorage.setItem('cmts', '')
                    // 2. 先组织出一个最新的评论数据对象
                    // 3. 想办法，把 第二步中，得到的评论对象，保存到 localStorage 中：
                    //  3.1 localStorage ""只支持存放'字符串'数据""， 要先调用 JSON.stringify 
                    //  3.2 在保存""最新的""评论数据之前，要先从 localStorage 获取到""之前""的评论数据（string），
                    //       转换为 一个  数组对象， 然后，把最新的评论， push 到这个数组
                    //  3.3 如果获取到的 localStorage 中的 评论字符串，为空不存在，返回null或者''都会报错 只能[]
                    //     则  可以 返回一个 '[]'  让 JSON.parse 去转换
                    //  3.4  把 最新的  评论列表数组，再次调用 JSON.stringify 转为  数组字符串，
                    //     然后调用 localStorage.setItem()

                    //localstorage
                    //  1.生命周期永远有效，除非手动删除 关闭页面也还在
                    //  2.可以多窗口下（页面）数据可以共享（同一浏览器可以共享）
                    //  3.以键值对的形式存储使用 
                    //  4.本地存储只能存储字符串的数据格式，把我们的数组对象转换为字符串格式 JSON.stringify() 
                    //  5.字符串格式转为对象的 JSON.parse() 
                    var comment = {
                        id: Date.now(),
                        user: this.user,
                        content: this.content
                    }

                    // 从 localStorage 中获取所有的评论 因为我在发表这条评论之前 很有可能已经发布过别的了
                    // localStorage.getItem('cmts') 
                    var list = JSON.parse(localStorage.getItem('cmts') || '[]')
                    list.unshift(comment)

                    // 重新保存最新的 评论数据
                    localStorage.setItem('cmts', JSON.stringify(list))

                    this.user = this.content = ''

                    // this.loadComments() // ?????
                    this.$emit('ybzybzybz')
                }
            }
        }

        // 创建 Vue 实例，得到 ViewModel
        var vm = new Vue({
            el: '#app',
            data: {
                list: [{
                    id: Date.now(),
                    user: '李白',
                    content: '天生我材必有用'
                }, {
                    id: Date.now(),
                    user: '江小白',
                    content: '劝君更尽一杯酒'
                }, {
                    id: Date.now(),
                    user: '小马',
                    content: '我姓马， 风吹草低见牛羊的马'
                }]
            },
            beforeCreate() {
                // 注意：这里不能调用 loadComments 方法，因为在执行这个钩子函数的时候，data 和 methods 都还没有被初始化好

            },
            created() {
                //create时 data和methods已经初始化完毕
                //页面刚渲染就得把本地存储数据拿过来渲染
                this.loadComments()
            },
            methods: {

                loadComments() {
                    // 从本地的 localStorage 中，加载评论列表
                    var list = JSON.parse(localStorage.getItem('cmts') || '[]')

                    //把所有list覆盖掉 换成最新取到的list
                    this.list = list
                }
            },
            components: {
                'cmt-box': commentBox
            }
        });
    </script>
</body>

</html>